<% if current_admin   %>
  <h2>Existing Users: </h2>
  <% @users.each do |user| %>
    <div id="user-<%="#{user.id}"%>">
    <%= link_to "#{user.email}", user_path(user.id) %>
    </div>
  <% end %>
<% end %>